@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

header {
    color: #4caf50;
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.genre-button {
    background-color: #8A9099;
    color: #fff;
    margin: 0 5px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
}

/* Rest of your CSS */


* {
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;

}

/* Movie Card Styles */
.movie-card {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 25px 25px 5px;
    width: 330px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.rating-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Card Header Styles */
.card-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 10px;
}

.card-title {

    font-weight:  500; /*Medium 500*/
    font-size: 20px;
}

.card-year {
    font-size: 14px;
    font-weight: 400; /*Regular 400*/
    color: #595F69;
}

/* Card Body Styles */
.card-body {
    font-family: 'Port Lligat Sans', sans-serif;
    font-weight: 400;
    color: #595F69;
    margin-bottom: 30px;
    height: 52px;
    overflow: hidden;

}

/* Rating Bar Styles */
.rating-bar {
    position: relative;
    height: 5px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    & label {
    }
    .rating-value {
        height: 100%;
        background-color: #4caf50;
        border-radius: 10px;
    }

}

/* Card Footer Styles */
.card-footer {
    font-size: 14px;
    color: #555;
}


.card-footer label {
    margin-right: 10px;
}


.card-genres {
    font-size: 14px;
    font-weight: 400;
    background-color: #F8F8F8;
    border: none;
    color: black;

    padding: 3px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 6px;
}
.card-genres-container {
    display: flex;
    gap: 5px; /* Adjust the gap between the two pill boxes */
}


/* Options Button Styles */
.options-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #8A9099;
}

.right-aligned {
    right: 0;
    left: auto;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    z-index: 1;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.options-dropdown {
    position: relative;
    display: inline-block;
}

.options-content {
    display: none;
    position: absolute;
    min-height: 123px;
    min-width: 224px;

    left: -195px; /* Adjust this value as needed */
    top: 45px; /* Position it below the button */

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}




.options-button {
    margin-top: 2px;
}
.options-content a:hover {
    background-color: #808080FF;
}

.options-divider {
    height: 1px;
    background-color: #ccc;
}


.options-dropdown {
    position: relative;
}

.options-button.active {
    background-color: grey;
}

.options-button.active + .options-content {
    display: block;
}
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.search-icon {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

#search-bar {
    flex: 1;
    padding: 8px;
}

.filter-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.filter-button img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

.add-movie-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
.search-icon,
.filter-button,
.add-movie-button,
.genre-button {
    border-radius: 5px; /* Adjust the border-radius as needed */
}

/* Add this for the search bar input */
#search-bar {
    border-radius: 5px; /* Adjust the border-radius as needed */
}

.options-dropdown {
    position: relative;
}
.options-button.active {
    background-color: grey; /* Adjust the background color for the active state */
}
.options-button.active + .options-content {
    display: block;
}

